tasks.pdf
data_06e_58207_58211_01.root
loop_01.cxx
loop_02.cxx
loop_03.cxx
output_example.root
loop_04.cxx
loop_04_modified.cxx
output_example_cuts.root
loop_05.cxx
beam_spot.cxx
data_06p_60005_60010_01.root
inv_mass_jpsi.cxx
jpsi_out.root
k0_61747_49.root
k0_ctau_1.cxx
select_DIS_00.cxx
select_DIS_01.cxx
select_DIS_02.cxx
select_DIS_03.cxx
